<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HTML !DOCTYPE declaration</title>
</head>
<body>
    <input type="text" placeholder="id"><br>
    <input type="text" placeholder="password"><br>
    <button>Log In</button>
</body>
</html>